.form-inline.result-controls
  .form-group
    p.form-control-static Result:
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="queryForm.prevResult()"
      ng-disabled="!queryForm.prevResult.canExecute()"
      bs-tooltip
      data-title="Previous match"
      data-placement="bottom")
      | &lt;
  .form-group
    input.form-control.input-sm(
      type="number"
      style="width: 50px;"
      ng-model="resultNo"
      ng-model-options="{updateOn:'blur'}"
      update-model-on-enter-key-pressed
      max="{{queryForm.resultsCount}}"
      min="1"
      )
  .form-group
    p.form-control-static of {{queryForm.resultsCount}}
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="queryForm.nextResult()"
      ng-disabled="!queryForm.nextResult.canExecute()"
      bs-tooltip
      data-title="Next match"
      data-placement="bottom")
      | &gt;
