.form-inline.result-controls
  .form-group
    p.form-control-static Result:
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="result.resultNo = result.resultNo - 1"
      ng-disabled="result.resultNo <= 1"
      bs-tooltip
      data-title="Previous match"
      data-placement="bottom")
      | &lt;
  .form-group
    input.form-control.input-sm(
      type="number"
      style="width: 50px;"
      ng-model="result.resultNo"
      ng-model-options="{updateOn:'blur'}"
      update-model-on-enter-key-pressed
      max="{{resultsCount}}"
      min="1"
      )
  .form-group
    p.form-control-static of {{resultsCount}}
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="result.resultNo = result.resultNo + 1"
      ng-disabled="result.resultNo >= result.resultsCount"
      bs-tooltip
      data-title="Next match"
      data-placement="bottom")
      | &gt;
