.form-inline.result-controls
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="result.resultNo = result.resultNo - 1"
      ng-disabled="result.resultNo <= 1")
      | &lt;
  .form-group
    input.form-control.input-sm(
      type="number"
      style="width: 50px;"
      ng-model="result.resultNo"
      ng-model-options="{updateOn:'blur'}"
      update-model-on-enter-key-pressed
      max="{{result.nodesCount}}"
      min="1"
      )
  .form-group
    p.form-control-static of {{result.nodesCount}}
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      ng-click="result.resultNo = result.resultNo + 1"
      ng-disabled="result.resultNo >= result.resultsCount")
      | &gt;
