.form-inline.result-controls(ng-show="queryForm.hasResult()")
  .form-group
    p.form-control-static Result:
  .form-group
    button.btn.btn-default.btn-sm(
    type="button"
    tooltip="Previous match"
    tooltip-placement="bottom")
      | &lt;
  .form-group
    input.form-control.input-sm(type="text",style="width: 50px;",ng-model="queryForm.currentResult")
  .form-group
    p.form-control-static of {{queryForm.resultsCount}}
  .form-group
    button.btn.btn-default.btn-sm(
      type="button"
      tooltip="Next match"
      tooltip-placement="bottom")
      | &gt;
