main.ui.page.one.column.grid
  .column.filter-form
    .ui.large.pointing.menu
      .header.item
        .ui.breadcrumb
          a.section(ui-sref="home")
            i.home.icon
          i.right.chevron.icon.divider
          .active.section Browse Available Treebanks

    div(ng-if="vm.noTreebanks")
      .ui.negative.message
        .header No treebanks available at this moment.
        p Please try later.
    div(ng-if="!vm.noTreebanks")
      .ui.segment
        form.ui.form
          .field
            .ui.big.fluid.icon.input
              input(
                tabindex="1"
                autofocus="autofocus"
                type="text"
                ng-model="vm.filter.term"
                placeholder="Filter treebanks ...")
              i.search.icon
          .field
            checkbox(type="toggle")
              input#filter-accessible(type="checkbox" ng-model="vm.filter.onlyAccessible")
              label(for="filter-accessible") Show only publicly accessible treebanks
          .field
            .ui.list
              .item(ng-repeat="category in vm.filter.stickerCategories")
                .ui.horizontal.labels
                  strong {{category}}: &nbsp;
                  .ui.clickable.label(
                    ng-repeat="sticker in vm.filter.stickersByCategory[category]"
                    ng-class="{ green: sticker.selected }"
                    ng-click="sticker.toggle()")
                    | {{sticker.name}}
                    .detail {{sticker.remaining}}

          .ui.right.floated.column
            button.ui.basic.button(
              type="button"
              ng-click="vm.filter.reset()")
              | Reset filter

      .ui.warning.message(ng-if="vm.filter.isEmpty")
        .header These aren't the treebanks you're looking for...
        | Sorry, no treebanks match the current filter. Try deselect the labels or reset the filter entirely.
      .ui.divided.items(ng-hide="vm.filter.isEmpty")
        div(treebank-list-item="tb" ng-repeat="tb in vm.filter.treebanksList() track by tb.id")
      //- .treebank-box(ng-repeat="tb in treebanks | treebankFilter : filter track by tb.id")
      //-   treebank-box/(treebank="tb")
