main.ui.page.grid(ng-controller="BrowseTreebanksController as browse")
  .column.filter-form
    h1.ui.header Browse Available Treebanks
    div(ng-if="browse.state == 'loading'")
      p Loading ...
    div(ng-if="browse.state == 'error'")
      p.alert.alert-info
        strong No treebanks available at this moment.
        | Please try later.
    div(ng-if="browse.state == 'results'")
      .ui.segment
        form.ui.form
          .field
            .ui.big.fluid.icon.input
              input(
                tabindex="1"
                autofocus="autofocus"
                type="text"
                ng-model="filter.term"
                placeholder="Filter treebanks ...")
              i.search.icon
          .field
            checkbox(type="toggle")
              input#filter-accessible(type="checkbox" ng-model="filter.accessible")
              label(for="filter-accessible") Show only publicly accessible treebanks
          .field
            .ui.list
              .item(ng-repeat="(name, lbs) in labels")
                .ui.horizontal.labels
                  strong {{name}}: &nbsp;
                  .ui.label(ng-repeat="(name, count) in lbs" ng-model="filter.labels[name]")
                    | {{name}}
                    .detail {{count}}
              .item
                .ui.horizontal.labels
                  strong Others: &nbsp;
                  .ui.label(ng-repeat="(name, count) in freeLabels")
                    | {{name}}
                    .detail {{count}}

          .ui.right.floated.column
            button.ui.basic.button(
              type="button"
              ng-click="filter = {term: '', accessible: false, labels: {}}")
              | Reset filter

      .ui.divided.items
        div(treebank-list-item="tb" ui-sref="treebank.index({treebankId: tb.id})" ng-repeat="tb in treebanks | treebankFilter : filter track by tb.id")
      //- .treebank-box(ng-repeat="tb in treebanks | treebankFilter : filter track by tb.id")
      //-   treebank-box/(treebank="tb")
