main.ui.container.one.column.grid
  .column.filter-form
    navigation
      .active.section(breadcrumb) Browse Treebanks

    div(ng-if="vm.noTreebanks")
      .ui.negative.message
        .header No treebanks available at this moment.
        p Please try later.
    div(ng-if="!vm.noTreebanks")
      .ui.segment
        form.ui.form
          .field
            .ui.big.fluid.icon.input
              input(
                tabindex="1"
                autofocus="autofocus"
                type="text"
                ng-model="vm.filter.term"
                placeholder="Filter treebanks ...")
              i.search.icon
          .field
            checkbox(type="toggle")
              input#filter-accessible(type="checkbox" ng-model="vm.filter.onlyAccessible")
              label(for="filter-accessible") Show only publicly accessible treebanks
          .field
            .ui.list
              .item(ng-repeat="category in vm.filter.stickerCategories")
                .ui.horizontal.list
                  .item
                    strong {{category}}:
                  .item(ng-repeat="sticker in vm.filter.stickersByCategory[category]")
                    .ui.clickable.lang.label(
                      ng-class="{ green: sticker.selected }"
                      ng-click="sticker.toggle()")
                      i.flag(ng-class="sticker.cls" ng-if="sticker.cls")
                      | {{sticker.name}}
                      .detail {{sticker.remaining}}

          .ui.right.floated.column
            button.ui.basic.button(
              type="button"
              ng-click="vm.filter.reset()")
              | Reset filter

      .ui.warning.message(ng-if="vm.filter.isEmpty")
        .header These aren't the treebanks you're looking for...
        | Sorry, no treebanks match the current filter. Try deselect the labels or reset the filter entirely.
      .ui.divided.items(ng-hide="vm.filter.isEmpty")
        div(treebank-list-item="tb" ng-repeat="tb in vm.filter.treebanksList() track by tb.id")
