.query-form
  form.ui.form(name="form" ng-class="{collapsed: collapsed}")
    .stackable.ui.grid
      .column(ng-hide="collapsed")
        .ui.horizontal.list
          .item
            button.ui.compact.mini.icon.button(type="button" ng-click="collapsed = true")
              i.chevron.down.icon
      .right.aligned.fifteen.wide.column(ng-hide="collapsed")
        .ui.horizontal.list
          .item
            .content.aligned
              .ui.inline.dropdown(ui-dropdown="timeoutSelect" title="Timeout" ng-model="params.timeout")
          .item
            .content.aligned
              .ui.inline.dropdown(ui-dropdown="limitSelect" title="Result limit" ng-model="params.limit")
      .sixteen.wide.column(ng-show="collapsed")
          pre.query.text(ng-show="collapsed" ng-bind="params.query" ng-click="collapsed = false")
    .field(ng-hide="collapsed")
      textarea.text.mono(
        name="query"
        spellcheck="false"
        focus-element
        id="query-text"
        ng-model="params.query"
        required="required"
        rows="8"
        tabindex="1"
        placeholder="# Enter your query here"
        accesskey="e")
    .field
      .two.column.ui.grid
        .left.aligned.column
          button.ui.primary.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query (including output filters)"
            data-position="bottom left"
            tabindex="2"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="submit(params)")
            i.search.icon
            | Execute query
          button.ui.submit.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query, excluding possible output filters"
            data-position="bottom left"
            tabindex="3"
            disabled=true
            ng-disabled="form.$invalid")
            i.filter.icon
            | w/o Filters
          button.ui.submit.button(
            ng-if="result"
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Suggest query based on nodes marked by you"
            data-position="bottom left"
            tabindex="4"
            disabled=true
            ng-disabled="!result.svg.marked.any()"
            ng-click="suggest(result.svg.marked.nodes())")
            i.life.ring.icon
            | Suggest
            span(ng-show="result.svg.marked.any()")
              = ' '
              | ({{result.svg.marked.count()}})
        .right.aligned.column(ng-hide="collapsed")
          button.ui.small.basic.button(
            type="button"
            ui-popup
            title="Empty the query form"
            data-position="bottom right"
            tabindex="6"
            ng-click="params.query=''")
            i.cut.icon
            | Clear
  .ui.message(ng-show="suggestObj")
    i.close.icon
    .one.column.ui.grid
      .left.aligned.column
        button.ui.small.button(
        type="button"
        tabindex="1"
        ng-click="params.query = suggestObj.query(); suggestObj = null")
          | Replace query
        button.ui.small.submit.button(
        type="button"
        tabindex="2"
        ng-click="params.query = params.query + \"\n\" + suggestObj.query(); suggestObj = null")
          | Append to existing query
        button.ui.small.button(
        type="button"
        tabindex="3"
        ng-click="suggestObj.cleanup()")
          i.erase.icon
          | Clean Up
      .iu.column(ng-show="showHelp")
        .ui.info.message
          i.close.icon(ng-click="hideHelp()")
          .header Suggested Query
          p This is a PML-TQ query generated from the marked nodes. Use the checkboxes to include/exclude parts of the query.
            | Then run the resulting query or append it the current query.
      .ui.column
        div(suggest-query="suggestObj")
