.ui.small.horizontal.list.result-controls
  .item.title
    | Result:&nbsp
  .item
    button.ui.small.icon.button(
      type="button"
      ng-click="result.prev()"
      ng-disabled="!result.hasPrev"
      title="Preceding sentence matching the query"
      ui-popup)
      i.left.arrow.icon
  .item
    .ui.input
      input(
        type="number"
        ng-model="result.resultNo"
        ng-model-options="{updateOn:'change blur'}"
        update-model-on-enter-key-pressed
        max="{{result.total}}"
        min="1"
        )
  .item
    .content.aligned / {{result.total}}
  .item
    button.ui.small.icon.button(
      type="button"
      ng-click="result.next()"
      ng-disabled="!result.hasNext"
      title="Following sentence matching the query"
      ui-popup)
      i.right.arrow.icon