.query-form
  form.ui.form(name="form" ng-class="{collapsed: collapsed}")
    .one.column.ui.grid
      .column(ng-show="vm.loggedIn || vm.publicQueryList")
        // history
        .ui.left.floated.menu(ng-model="vm.queryHistory" ng-hide="!vm.loggedIn")
          .item.ui.button(type="button" ng-class="{disabled: !vm.queryHistory.hasPrevious}" ng-click="vm.undo()")
            i.undo.icon
            | Undo
          .item(
            title="Not created for this treebank"
            ui-popup
            ng-hide="vm.validQuery()")
            i.empty.help.circle.icon.red
          .item(
            title="This query has been succesfully evaluated on this treebank"
            ui-popup
            ng-show="vm.validQuery()")
            i.star.icon.green

          .item.ui.button(type="button" ng-class="{disabled: !vm.queryHistory.hasNext}" ng-click="vm.repeat()")
            i.repeat.icon
            | Repeat

        .ui.floated.menu(ng-show="vm.publicQueryList && !vm.activeQueryList")
          // public query list        
          a.ui.item(ng-if="vm.publicQueryList " type="button" ng-click="vm.publicQueryList = null" title="Close query list")
            i.delete.icon
          .item.ui {{vm.publicQueryList.name}}
          .item.ui.button(type="button" ng-class="{disabled: !vm.publicQueryList.hasPrevious}" ng-click="vm.previousQuery(vm.publicQueryList)" ng-show="vm.publicQueryList && vm.publicQueryList.queries.length > 0")
            i.arrow.left.icon
          .item(ng-show="vm.publicQueryList && vm.publicQueryList.queries.length > 0")
            span(ng-bind="vm.publicQueryList.currentQueryIndex + 1" ng-if="vm.publicQueryList.activeQuery")
            span(ng-if="! vm.publicQueryList.activeQuery" title="Query is not saved in this list")
              | -
            | /
            span(ng-bind="vm.publicQueryList.queries.length")
          .item.ui.button(type="button" ng-class="{disabled: !vm.publicQueryList.hasNext}" ng-click="vm.nextQuery(vm.publicQueryList)" ng-show="vm.publicQueryList && vm.publicQueryList.queries.length > 0")
            i.arrow.right.icon
          .item.ui.inline.dropdown(ui-selectbox="vm.publicQueryList.queries" valuekey="name"  menutitle="Query:" ng-model="vm.publicQueryList.activeQuery" ng-change="vm.selectQuery(vm.publicQueryList)" ng-show="vm.publicQueryList && vm.publicQueryList.activeQuery")

        .ui.floated.menu(ng-show="vm.loggedIn")
          // My queries
          a.ui.item(ng-if="vm.activeQueryList " type="button" ng-click="vm.activeQueryList = null" title="Close query list")
            i.delete.icon
          .item.ui.inline.dropdown(ui-selectbox="vm.queryLists" ng-model="vm.activeQueryList" menutitle="Query list:" title='Use the "My queries" menu to organize and annotate your query lists')
            .ui.item.button(enditem type="button" ng-click="vm.newQueryList()")
              i.plus.icon
              | New
          .item.ui.button(type="button" ng-class="{disabled: !vm.activeQueryList.hasPrevious}" ng-click="vm.previousQuery()" ng-show="vm.activeQueryList && vm.activeQueryList.totalQueries > 0")
            i.arrow.left.icon
          .item(ng-show="vm.activeQueryList && vm.activeQueryList.totalQueries > 0")
            span(ng-bind="vm.activeQueryList.currentQueryIndex + 1" ng-if="vm.activeQueryList.activeQuery")
            span(ng-if="! vm.activeQueryList.activeQuery" title="Query is not saved in this list")
              | -
            | /
            span(ng-bind="vm.activeQueryList.totalQueries")
          .item.ui.button(type="button" ng-class="{disabled: !vm.activeQueryList.hasNext}" ng-click="vm.nextQuery()" ng-show="vm.activeQueryList && vm.activeQueryList.totalQueries > 0")
            i.arrow.right.icon
          .item.ui.inline.dropdown(ui-selectbox="vm.activeQueryList.queries" valuekey="name"  menutitle="Query:" ng-model="vm.activeQueryList.activeQuery" ng-change="vm.selectQuery()" ng-show="vm.activeQueryList && vm.activeQueryList.totalQueries > 0")
          .ui.item.button(type="button" ng-click="vm.newQuery()" title="Save current query in current list" ng-show="vm.activeQueryList")
            i.add.icon
            | Save as...
          .ui.item.button(type="button" ng-class="{disabled: (!vm.activeQueryList.activeQuery)}" ng-click="vm.renameQuery()" title="Rename query" ng-show="vm.activeQueryList")
            i.edit.icon
            | Rename
          .ui.item.button(type="button" ng-class="{disabled: (!vm.activeQueryList.activeQuery || vm.activeQueryList.activeQuery.query == vm.queryParams.query)}" ng-click="vm.saveQuery()" title="Save query" ng-show="vm.activeQueryList")
            i.save.icon
            | Save
          .ui.item.button(type="button" ng-class="{disabled: (!vm.activeQueryList.activeQuery)}" ng-click="vm.deleteQuery()" title="Delete query from list" ng-show="vm.activeQueryList")
            i.remove.icon
            | Delete

      .column(ng-hide="collapsed")
        // editor menu
        .ui.stackable.grid
          .twelve.wide.column
            query-menu(treebank="vm.treebank" on-collapse="collapsed = true" on-insert="vm.insertToEditor")
          .middle.aligned.right.aligned.four.wide.column
            .ui.horizontal.list
              //- .item
              //-   .content.aligned
              //-     .ui.inline.dropdown(ui-selectbox="vm.timeoutSelect" menutitle="Timeout" ng-model="vm.queryParams.timeout" ng-change="vm.queryParams.cache()")
              .item
                .content.aligned
                  .ui.inline.dropdown(ui-selectbox="vm.limitSelect" menutitle="Result limit" ng-model="vm.queryParams.limit" ng-change="vm.queryParams.cache()")
      .column(ng-show="collapsed")
        // editor
        .query.text(
          ng-show="collapsed"
          title="Click to edit query"
          data-variation="basic"
          ui-popup
          ng-click="collapsed = false")
          | {{vm.queryParams.query || '&lt;query is empty&gt;'}}
    .field(ng-hide="collapsed")
      .query.editor.wrapper
        div(
          query-editor="{treebank: vm.treebank}"
          editor="vm.queryEditor"
          focus-element
          ng-model="vm.queryParams.query"
          ng-model-options="{allowInvalid: true}"
          required="required"
          tabindex="1"
          placeholder="# Enter your query here"
          accesskey="e")

    .field
      .two.column.ui.grid
        .left.aligned.column
          button.ui.primary.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query (including output filters)"
            data-position="bottom left"
            tabindex="2"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="vm.submit()")
            i.search.icon
            | Execute query
          button.ui.submit.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query, excluding possible output filters"
            data-position="bottom left"
            tabindex="3"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="vm.submit(false)")
            i.filter.icon
            | w/o Filters
          span.ui(
            title="{{vm.markedNodes.any ? '' : 'Mark some nodes and press this button to create a sample query'}}"
            ui-popup)
            button.ui.submit.button(
              ng-class="{small: !collapsed, mini: collapsed}"
              type="button"
              ui-popup
              title="Suggest a query based on the marked nodes"
              data-position="bottom left"
              tabindex="4"
              disabled=true
              ng-disabled="!vm.markedNodes.any"
              ng-click="vm.suggest(vm.markedNodes.nodes)")
              i.life.ring.icon
              | Suggest
              span
                = ' '
                | ({{vm.markedNodes.nodes.length}})
        .right.aligned.column(ng-hide="collapsed")
          button.ui.small.basic.button(
          type="button"
          ui-popup
          title="Create permanent link that can be used in citations etc..."
          data-position="bottom right"
          tabindex="6"
          ng-disabled="form.$invalid"
          state="treebank.query.index"
          state-params="vm.queryParams.params()"
          shorten-url="")
            i.linkify.icon
            | Permanent link
          button.ui.small.basic.button(
            type="button"
            ui-popup
            title="Empty the query form"
            data-position="bottom right"
            tabindex="7"
            ng-click="vm.queryParams.clear()")
            i.cut.icon
            | Clear
  .ui.secondary.segment(ng-show="vm.suggestObj")
    .one.column.ui.grid
      .left.aligned.column
        button.ui.small.button(
        type="button"
        tabindex="1"
        ng-click="vm.replaceQuery()")
          | Replace query
        button.ui.small.submit.button(
        type="button"
        tabindex="2"
        ng-click="vm.appendQuery()")
          | Append to existing query
        button.ui.small.button(
        type="button"
        tabindex="3"
        ng-click="vm.suggestObj.cleanup()")
          i.erase.icon
          | Clean Up
        button.ui.small.icon.left.aligned.button(
        type="button"
        tabindex="4"
        ng-click="vm.suggestObj = null")
          i.close.icon
          | Close
      .iu.column(ng-show="vm.showHelp")
        .ui.info.message
          i.close.icon(ng-click="vm.hideHelp()")
          .header Suggested Query
          p This is a PML-TQ query generated from the marked nodes. Use the checkboxes to include/exclude parts of the query.
            | Then run the resulting query or append it the current query.
      .ui.column
        div(suggest-query="vm.suggestObj")
