.query-form
  form.ui.form(name="form" ng-class="{collapsed: collapsed}")
    .one.column.ui.grid
      .column(ng-hide="collapsed")
        .ui.stackable.grid
          .twelve.wide.column
            query-menu(treebank="vm.treebank" on-collapse="collapsed = true" on-insert="vm.insertToEditor")
          .middle.aligned.right.aligned.four.wide.column
            .ui.horizontal.list
              .item
                .content.aligned
                  .ui.inline.dropdown(ui-selectbox="vm.timeoutSelect" title="Timeout" ng-model="vm.queryParams.timeout" ng-change="vm.queryParams.cache()")
              .item
                .content.aligned
                  .ui.inline.dropdown(ui-selectbox="vm.limitSelect" title="Result limit" ng-model="vm.queryParams.limit" ng-change="vm.queryParams.cache()")

      .column(ng-hide="collapsed || !vm.loggedIn")
        .ui.horizontal.list
          .item(ng-if="vm.activeQueryList")
            button.ui.icon.mini.basic.button(ng-click="vm.activeQueryList = null")
              i.delete.icon
          .item
            .ui.inline.dropdown(ui-selectbox="vm.queryLists" ng-model="vm.activeQueryList" title="Query list:")
          .item(ng-show="vm.activeQueryList.totalQueries > 0")
            button.ui.icon.mini.button(ng-disabled="!vm.activeQueryList.hasPrevious" ng-click="vm.activeQueryList.previous()")
              i.arrow.left.icon
            span
              span(ng-bind="vm.activeQueryList.currentQueryIndex + 1")
              | /
              span(ng-bind="vm.activeQueryList.totalQueries")
            button.ui.icon.mini.button(ng-disabled="!vm.activeQueryList.hasNext" ng-click="vm.activeQueryList.next()")
              i.arrow.right.icon
          .item(ng-show="vm.activeQueryList && vm.activeQueryList.activeQuery")
            span(ng-bind="vm.activeQueryList.activeQuery.name")
          .item(ng-show="vm.activeQueryList")
            button.ui.icon.mini.labeled.positive.button(type="button" ng-click="vm.newQuery()") 
              | New query
              i.add.icon
            button.ui.icon.mini.primary.labeled.button(type="button" ng-click="vm.saveQuery()") 
              | Save
              i.edit.icon
            button.ui.icon.mini.negative.labeled.button(type="button" ng-click="vm.deleteQuery()") 
              | Delete
              i.remove.icon
            //-            button.ui.icon.mini.primary.labeled.button(type="button" ng-click="vm.renameQuery()") 
            //-              | Rename

      .column(ng-show="collapsed")
        .query.text(
          ng-show="collapsed"
          title="Click to edit query"
          data-variation="basic"
          ui-popup
          ng-click="collapsed = false")
          | {{vm.queryParams.query || '&lt;query is empty&gt;'}}
    .field(ng-hide="collapsed")

      .query.editor.wrapper
        div(
          query-editor="{treebank: vm.treebank}"
          editor="vm.queryEditor"
          focus-element
          ng-model="vm.queryParams.query"
          ng-model-options="{allowInvalid: true}"
          required="required"
          tabindex="1"
          placeholder="# Enter your query here"
          accesskey="e")

    .field
      .two.column.ui.grid
        .left.aligned.column
          button.ui.primary.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query (including output filters)"
            data-position="bottom left"
            tabindex="2"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="vm.submit()")
            i.search.icon
            | Execute query
          button.ui.submit.button(
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Execute the query, excluding possible output filters"
            data-position="bottom left"
            tabindex="3"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="vm.submit(false)")
            i.filter.icon
            | w/o Filters
          button.ui.submit.button(
            ng-if="vm.markedNodes.any"
            ng-class="{small: !collapsed, mini: collapsed}"
            type="button"
            ui-popup
            title="Suggest query based on nodes marked by you"
            data-position="bottom left"
            tabindex="4"
            disabled=true
            ng-disabled="!vm.markedNodes.any"
            ng-click="vm.suggest(vm.markedNodes.nodes)")
            i.life.ring.icon
            | Suggest
            span(ng-show="vm.markedNodes.any")
              = ' '
              | ({{vm.markedNodes.nodes.length}})
        .right.aligned.column(ng-hide="collapsed")
          button.ui.small.basic.button(
          type="button"
          ui-popup
          title="Create permanent link that can be used in citations etc..."
          data-position="bottom right"
          tabindex="6"
          ng-disabled="form.$invalid"
          state="treebank.query.index"
          state-params="vm.queryParams.params()"
          shorten-url="")
            i.linkify.icon
            | Permanent link
          button.ui.small.basic.button(
            type="button"
            ui-popup
            title="Empty the query form"
            data-position="bottom right"
            tabindex="7"
            ng-click="vm.queryParams.clear()")
            i.cut.icon
            | Clear
  .ui.secondary.segment(ng-show="vm.suggestObj")
    .one.column.ui.grid
      .left.aligned.column
        button.ui.small.button(
        type="button"
        tabindex="1"
        ng-click="vm.replaceQuery()")
          | Replace query
        button.ui.small.submit.button(
        type="button"
        tabindex="2"
        ng-click="vm.appendQuery()")
          | Append to existing query
        button.ui.small.button(
        type="button"
        tabindex="3"
        ng-click="vm.suggestObj.cleanup()")
          i.erase.icon
          | Clean Up
        button.ui.small.icon.left.aligned.button(
        type="button"
        tabindex="4"
        ng-click="vm.suggestObj = null")
          i.close.icon
          | Close
      .iu.column(ng-show="vm.showHelp")
        .ui.info.message
          i.close.icon(ng-click="vm.hideHelp()")
          .header Suggested Query
          p This is a PML-TQ query generated from the marked nodes. Use the checkboxes to include/exclude parts of the query.
            | Then run the resulting query or append it the current query.
      .ui.column
        div(suggest-query="vm.suggestObj")
