.ui.small.horizontal.list.result-controls
  .item
    button.ui.small.icon.button(
      type="button"
      ng-click="result.resultNo = result.resultNo - 1"
      ng-disabled="result.resultNo <= 1")
      i.arrow.left.icon
  .item
    .ui.mini.input
      input(
        type="number"
        ng-model="result.resultNo"
        ng-model-options="{updateOn:'blur'}"
        update-model-on-enter-key-pressed
        max="{{result.nodesCount}}"
        min="1"
        )
  .item
    .content.aligned of {{result.nodesCount}}
  .item
    button.ui.small.icon.button(
      type="button"
      ng-click="result.resultNo = result.resultNo + 1"
      ng-disabled="result.resultNo >= result.nodesCount")
      i.arrow.right.icon
