form#query-form(name="form", ng-controller="QueryFormController as q")
  .form-group
    textarea.form-control.text-mono(
      name="query"
      focus-element
      id="query-text"
      ng-model="query.text"
      required="required"
      rows="8"
      tabindex="1"
      placeholder="# Enter your query here"
      accesskey="e")
  .form-group
    .row
      .col-lg-6
        .btn-toolbar
          button.btn.btn-primary(
            type="button"
            tooltip="Execute the query (including output filters)"
            tooltip-placement="bottom"
            tabindex="2"
            disabled=true
            ng-disabled="form.$invalid"
            ng-click="q.submit()")
            i.fa.fa-search
            | &nbsp;Query
          button.btn.btn-default(
            type="button"
            tooltip="Execute the query, excluding possible output filters"
            tooltip-placement="bottom"
            tabindex="3"
            disabled=true
            ng-disabled="form.$invalid")
            i.fa.fa-filter
            | &nbsp;w/o Filters
          button.btn.btn-default(
            type="button"
            tooltip="Suggest query based on nodes marked by you"
            tooltip-placement="bottom"
            tabindex="4"
            disabled=true)
            i.fa.fa-question
            | &nbsp;Suggest
          button.btn.btn-default(
            type="button"
            tooltip="Display graphical visualization of the query"
            tooltip-placement="bottom"
            tabindex="5"
            disabled=true
            ng-disabled="form.$invalid")
            i.fa.fa-sun-o
            | &nbsp;Visualize
          button.btn.btn-default(
            type="button"
            tooltip="Empty the query form"
            tooltip-placement="bottom"
            tabindex="6"
            ng-click="query.text=''")
            i.fa.fa-times
            | &nbsp;Clear
      .col-lg-6
        .form-inline.pull-right.result-controls
          .form-group
            p.form-control-static Result:
          .form-group
            button.btn.btn-default.btn-sm(
            type="button"
            tooltip="Previous match"
            tooltip-placement="bottom")
              | &lt;
          .form-group
            input.form-control.input-sm(type="text",style="width: 50px;",ng-model="query.currentResult")
          .form-group
            p.form-control-static {{query.currentResult}} of {{query.results.length}}
          .form-group
            button.btn.btn-default.btn-sm(
              type="button"
              tooltip="Next match"
              tooltip-placement="bottom")
              | &gt;

